
<% obj.each do |article|%>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
          <div class="article-title">
            <h3><%=link_to article.title,article_path(article)%></h3>
          </div>
          <div class="article-body">
            <%= truncate(article.description,length:100)%>
            <div class ="article-meta-details">
              <small>
                Created By:<%=article.user.username if article.user%>,
                Created before: <%= time_ago_in_words(article.created_at )if article.user%> ago,
                Last Update:<%=time_ago_in_words(article.updated_at)if article.user%> ago
              </small>
            </div>
          </div>
          <%if logged_in? && current_user == article.user%>
          <div class="article-actions">
            <%=link_to 'ُEdit', edit_article_path(article),class: "btn btn-xs btn-primary"%>
            <%=link_to 'ُDelete', article_path(article),method: :delete ,data:{confirm:"Are You Sure You Want to Delete Your Tip?"},
                       class: "btn btn-xs btn-danger"%>
          </div>
              <%end%>
        </div>
      </div>
    </div>
<%end%>




