<h2 align="center">Most Search</h2>
<div class="row">
  <div class="col-xs-4 col-md-2">
    <div class="thumbnail">
      <%=link_to image_tag("windows.png"),category_url(:windows)%>
    </div>
  </div>
  <div class="col-xs-4 col-md-2">
    <div class="thumbnail">
      <%=link_to image_tag("linux.png"),category_url(:linux)%>
    </div>
</div>
</div>
<h2 align="center">Recently Added</h2>
<div align="center">


<%= will_paginate @articles, :page_link=>false  %>
</div>
<%=render 'article',obj: @articles%>
<div align="center">
  <%= will_paginate%>
</div>


